[2014-11-19 16:07] akshay2000 opened #7 "Inconsistent Page/Panorama Headers"
Page and panorama headers (section of page containing 'app name + page title' or 'pivot header + pivot item header') are inconsistent with each other. Ideally, this section have same styling in all pages and pivots across the app.

[2014-11-22 11:40] akshay2000 opened #8 "Incomplete styling on AlbumPage"
All the elements (except songs' ListView, maybe) need to be styled to match rest of the app.

[2014-11-22 11:42] akshay2000 opened #9 "Incomplete styling of Now Playing"
Now Playing section on CoverPage needs to be styled.

[2014-11-22 11:44] akshay2000 opened #10 "ConnectionItem needs to be styled"
Connections appear ugly on MainPage. Need to be styled to match rest of the app.

[2014-11-24 14:47] akshay2000 opened #14 "Implement better storage mechanism for storing connections"
Currently, connections stored in a file which is not very good for concurrent access. This issue is to weigh different possibilities for storage of data.

[2014-11-27 17:31] akshay2000 opened #19 "GroupHelper crash on Windows 8"
If the collection to be grouped contains a string with non-English characters (Japanese characters, for example) the group is null and NullReferenceException is thrown.

[2014-11-28 13:41] #19 closed, assigned to nobody

[2014-12-05 15:55] #9 closed, assigned to akshay2000

[2014-12-05 17:37] #10 closed, assigned to nobody

[2014-12-06 17:32] athosmoreno opened #21 "Connection page doesn't work properly on Nokia Lumia 820 with WP 8.1"
The font is too small and I'm unable to edit the connections (I have to create a new one)

![wp_ss_20141206_0002](https://cloud.githubusercontent.com/assets/6440060/5328289/128ae652-7d5d-11e4-942b-99cbe4b2627f.png)

[2014-12-06 17:54] #8 closed, assigned to akshay2000

[2014-12-08 18:48] #21 closed, assigned to nobody

[2014-12-15 12:49] #7 closed, assigned to akshay2000

[2014-12-27 15:06] akshay2000 opened #23 "Bad styling on now playing when video is playing"
When movie or a TV show is being played, the second line of text on 'now playing' appears very small.

[2014-12-31 15:17] #23 closed, assigned to akshay2000

[2015-01-04 19:49] christianprescott opened #25 "Voice search results list is unresponsive"
Steps to reproduce
* Perform a Cortana voice command that turns up multiple results. "Kodi play artist drake" in my case.
* "We found multiple..." message is displayed with results including "Drake", "Drake/The Weeknd", "Drake/Rihanna", and others.
* Tapping any of the artists has no effect on the player.

![wp_ss_20150104_0001 1](https://cloud.githubusercontent.com/assets/2000583/5607240/c61ccb0c

[2015-01-04 19:51] christianprescott commented on #25
Hope I'm not bugging you with these. Very excited for Cortana features and happy to contribute.

[2015-01-05 02:31] akshay2000 commented on #25
I had no idea there wasn't a handler for this! Thanks a lot for pointing that out. If you can make anything better, feel free. You're not bugging as long as you're helping!

[2015-01-05 04:22] christianprescott opened #27 "Local thumbnails are inaccessible when Kodi requires authentication"
Some media thumbnails (movie posters, album art, etc.) have remote locations (e.g. http://image.tmdb.org/t/p/original/vDwphkloD7ToaDpKASAXGgHOclN.jpg) but some are served from a local path on the Kodi web server. These local images encode the path in the URL and specify an "image://" protocol. (e.g. http://server:port/image/image://%252fhome%252fchristian%252f%252fMusic%252fArctic%2520Monkeys%252f

[2015-01-05 04:25] christianprescott commented on #27
No idea how to solve this one yet, but still thinking. Some ideas:
* Implement auth for all requests made by BitmapImage. Perhaps BitmapImage can be extended so we can write our own request for the UriSource? How will it differentiate between local and remote images?
* Implement INotifyPropertyChanged across all thumbnail-able models. When thumbnail path is modified download the image via HttpRequ

[2015-01-05 05:11] akshay2000 commented on #27
Frankly speaking, analytics show that not *many* people are using the authentication with Kodi. Still, this is one glaring fault. I'll look into the whole architecture and then think about proper solution. I don't want to go wiht duct tape solution here.

[2015-01-05 05:20] christianprescott commented on #27
Yep, understood.

I am using it, though, so I have incentive to sort this out the right way. :)

[2015-01-05 12:17] brinox opened #28 "Allow multiple connection profiles"
As I am using multiple Kodi instances in my home, I would like to switch between the connection profiles. It would be nice, if one could choose a default connection, to which Cortana play requests are sent to.

[2015-01-05 13:10] christianprescott commented on #28
"Switch Server" is being added as an app bar menu option on the home page. Will make it much more straightforward to change connections.

By default, Cortana sends requests to the most recent connection. You are asking for the ability to designate one connection to receive all Cortana requests?

[2015-01-05 13:54] akshay2000 commented on #28
Cortana *always* defaulting to one particular connection won't be a good idea. For example, user is in bedroom and connected to the server in that room. It won't make sense for Cortana to start movie in the kids' room. That's freaky!
I propose an alternate flow. In settings, first we set the behavior for every autoconnect (Cortana as well as regular app launch) - `recent connection` or `default co

[2015-01-05 13:56] akshay2000 commented on #25
Closed with pull request #26 by @christianprescott.

[2015-01-05 13:56] #25 closed

[2015-01-05 14:49] christianprescott commented on #28
How about adding
1) a setting for "Cortana plays media on..." with option to select one from the list of connections or "most recent"
2) the ability to pin connections to start. Launching the app would connect to most recent, but launching from a pinned connection would connect to that host.

-----Original Message-----
From: "Akshay Zade" <notifications@github.com>
Sent: ‎1/‎5/‎2015 8:54 AM
To: "a

[2015-01-05 15:07] akshay2000 commented on #28
1. Disturbs the integrity and causes confusion. All autoconnects should behave consistently. Cortana should interact with the same server as the rest of the app.
2. This frequently comes up in discussions, but there's never a good case for this. If app is off, all it takes is two taps to connect to particular server. All we can do is to reduce it to one tap with secondary tile. If the app is open,

[2015-01-05 15:20] brinox commented on #28
I really like the idea of connecting to the most recent Kodi instance having the ability to switch with a button in the app menu. Also, I think one needs a little indicator on the home screen to show which Server one is connected to, this avoids confusion and playing your favourite horror movie in the kid's room ;)

[2015-01-05 15:27] akshay2000 commented on #28
Great! So, I suggest you first try beta [here](http://wpbeta.me/kodi-assist-beta) and see if that suits your needs. After you're satisfied, you can close this issue yourself or suggest something if you need it.
As for the currently connected server, I'll try to find a place for it.

[2015-01-05 17:28] akshay2000 commented on #27
I could use a simple solution to format the URL into format http://username:password@host:port/path/to/resource that is accepted by most browsers. This works with Chrome and Firefox. But evidently, Internet Explorer (and consequently, the app's automatic image loading) [doesn't support](https://support.microsoft.com/kb/834489/en-us?wa=wsignin1.0) these kind of URLs.

[2015-01-05 17:31] christianprescott commented on #27
Yes, I was disappointed to find that didn't work. It would have been so simple!

[2015-01-05 17:37] akshay2000 commented on #27
Moreover the solutions we try to implement might end up breaking lazy loading or background loading or image caching or all of it!

[2015-01-06 11:07] akshay2000 commented on #27
I've modified the ImagePathConverter. So now, all the images require authentication. Everything is loaded from the cache of Kodi server. No need to handle the URLs differently.

[2015-01-06 11:41] brinox commented on #28
I signed up for the beta but it says you have to add me to the beta testers list so I can download the app directly.

[2015-01-06 12:19] akshay2000 commented on #28
Please wait for a bit. I'll need to add you to the list of beta testers. You'll get an email when that procedure is done.

[2015-01-07 03:55] akshay2000 commented on #27
Another idea: In the converter, we generate a unique string from the URI. Pass this string to some external method that downloads and saves image locally using this string as file name. Converter returns URI to the local file (even before download is finished) and image is bound to it. This method returns file if it exists and is new, or redownloads if it's beyond the 'expirey date'.
Not sure if t

[2015-01-07 06:33] christianprescott commented on #27
Good thinking.
+ Fewer changes to existing code
+ Option to to decode/resize once on cache write
- Storage IO is slow (but I'm not sure exactly how slow) especially on cache miss, when download, write and read must occur
- App storage will grow significantly to cache resources. And if all resources are coming from server now, some of those are pretty large (e.g. fanart)
- Building the image cache

[2015-01-07 06:37] christianprescott commented on #27
In other news: had time to run a few performance tests today on the ThumbnailImage implementation. Haven't been able to compare to BitmapImage yet, but it *feels* like performance isn't suffering.

[2015-01-07 09:11] akshay2000 commented on #27
1. Storage IO can't possibly be slower than the WiFi network. Secondly, native implementation of BitmapImage also maintains a cache of downloaded files and loads images from there. I read somewhere that this cache is same as the browser cache. So, I don't think we're doing anything differnet than that.
2. Size shouldn't be a problem. Doesn't matter if we download from Kodi server or the Internet.

[2015-01-08 04:53] christianprescott commented on #27
This is coming along and I like this solution better. There are still issues to resolve, but the big big big one is that you won't see any images the first time you open the app, when the cache is empty. The problem is exacerbated by the way Kodi Assist maintains the session even after backing out of the app.

[2015-01-08 06:35] akshay2000 commented on #27
I'm not gonna lie here. I was secretly hoping that image will somehow reload itself when the download is complete. It doesn't make sense, but I just thought it would. Here's another hacky solution I propose: Build image cache on the first handshake. When connection is selected on the MainPage, build the cache. If the images already exist, this will be over in no time. So no extra overhead.
Also, l

[2015-01-08 12:05] christianprescott commented on #27
Ageed, users who aren't using authentication shouldn't have to risk bugs in this bit of code.

Re building entire image cache: You have a better understanding of the Kodi remote abilities than me. Is it possible to download the whole image cache, or do we have to iterate every album, artist, movie, (and future items that could use proxied images) and check for their thumbnails. Is that practical?

[2015-01-08 12:55] christianprescott commented on #27
More observations: when using ApplicationData.TemporaryFolder, the data stored there is reported by Storage Sense with other "Temporary Data" and not under Kodi Assist. I think that's a good thing, alleviates my concerns about reclaiming space and users skeptical of growing app storage.
But the temp folder throws a wrench in the build image cache plan. If temp data is cleared, we'll have to build

[2015-01-09 05:49] akshay2000 commented on #27
Kodi doesn't provide a straightforward way to download whole cache at once. There's a hacky solution, but it's neither reliable nor practical. Iterating over collections should be better. Since images are downloaded off the local network now, this will be fast enough.
Using TemporaryFolder has some advantage here. I wasn't clear earlier. I meant that we check for the cache on every successful hand

[2015-01-09 14:58] brinox commented on #28
The switching mechanism works like a charm, thank you! I will close this issue when you placed the server indicator like promised :)

[2015-01-09 15:22] brinox opened #29 "Adding song(s) to current playlist"
I noticed, it's only possible to play an artist/album/song while overriding the current playing playlist on the server. It would be nice to have the possibility to add one or multiple songs to the playlist.

I thought of adding a second button to the app bar in the Artist or Album view that does exactly that. For single songs, I suggest adding a tap-and-hold menu that could to the trick.

The JSON

[2015-01-09 16:33] akshay2000 commented on #28
I'm thinking of adding server name as an indicator. The question is, where to add it! Is there a place in your mind?

[2015-01-09 17:11] brinox commented on #28
Here's an exmaple of the app [XBMC remote](http://www.windowsphone.com/en-us/store/app/xbmc-remote/64f736e7-df4a-414d-b51e-f21e22698bab) which shows a little indicator with servername and connection status in the upper left corner. Maybe that could be a little inspiration.

I doubt the indicator has to be seen in every view, the "currently playing" view shold be enough as it is the entry point. I

[2015-01-09 23:23] christianprescott commented on #28
Another option: server name in the place currently occupied by "kodi assist". If you don't want to lose the branding, maybe put "kodi assist" in small caps above like the album page, then larger name below it?

[2015-01-10 02:28] christianprescott commented on #27
I've reached a point now where both the ImageSource and ValueConverter branches are far enough along that I can commit to one of them as the solution.
The ThumbnailImage route has decent performance, but if you, say, scroll the all albums list fast enough you can outrun the image requests. The need to touch XAML all over the app is a bummer, but the lack of default BitmapImage behavior is what rea

[2015-01-10 07:08] akshay2000 commented on #28
@christianprescott I thought this suggestion might come up. However, people give random names to their servers (asdf, server1, fvdnfdbik) and if those names are put here, that will make app really ugly. But I like this idea. If the name does look ugly, we can blame it on the person who named their server! Let's call in one of the coolest design guys out there. What do you suggest @AnaghSharma - wh

[2015-01-10 07:22] akshay2000 commented on #27
Let's make things more clear!

1. I think it can be agreed upon that reimplementing the BitmapImage with authentication is not a viable solution. Let's discard it.
2. You're right. Forcing 'refresh', if possible at all, would only solve the fraction of the problem. Not a good idea.
3. Form what you say, while building image cache app is unusable.By unusable, do you mean that images stay blank or t

[2015-01-10 08:12] christianprescott commented on #27
1. Viable, but far inferior to cache in all the areas that matter. Discarded.
2. I disagree! Yes, this refresh effort is also discarded, but even now there are cases where an image could be displayed that hasn't been cached. The ability to trigger the binding would avoid the gray box left on a cache miss if for example media was added to the library.
3. Images stay blank for up to several seconds

[2015-01-10 09:02] akshay2000 commented on #27
2. Will keep that in mind. Although, one or two images not being loaded shouldn't be a big problem.
3. Just checked out. App feels like IE6 trying to load heavy website on a dial-up connection.
4. That's what I have been thinking. On each successful handshake, update the cache and keep the app on 'connecting' progress ring.

[2015-01-10 11:42] #28 closed

[2015-01-10 12:23] #29 closed

[2015-01-10 14:37] christianprescott commented on #27
2. Yes, one or two images not cached will show gray box, but only for a little while. (Maybe the user presses the "refresh" cache button or the the app is restarted) That is tolerable. All I'm saying is that we can't cache *everything*, so it may happen rarely. And in those rare cases it would be nice to update the image source binding after the image is added to cache.

3. Haha, and we definitely

[2015-01-10 15:24] akshay2000 commented on #27
a. Yes, `GetAllImagesAsync` will be called. That operation doesn't really take much time. Then yes, files will be checked for existance.
b. For most cases, update on connection selected should be sufficient.

[2015-01-11 01:36] christianprescott commented on #27
As of christianprescott/XBMCRemoteRT@417b59661ee20c437912e5b6dcb4f8f1dccda892 image cache is - for connections using auth only - implemented end-to-end.

I'm going to go ahead and put in a pull request. You can look it over, make changes, discuss, decide if it's worth doing at all... you know the drill. I have the feature on my device so I'm satisfied. Kodi Assist looks great with actual album art

[2015-01-11 06:04] akshay2000 commented on #27
That's a valid point. If even one of the URLs has 404, it will significantly slow down the progress of cache update. However, for maintaining a blacklist you need some persistence and file based record keeping is flaky at best. On the other hand, how about this:
I am pretty sure 404 can be detected at the `CacheManager` level. How about you save a dummy image like DefaultArt (or better yet, [this]

[2015-01-11 15:34] christianprescott commented on #27
The solution implemented @ef2ed720b151b6c6da5f5dfcf2f03d1d88a25870 is to simply "touch" the file where the image would be saved. It does not move any image content into place.

[2015-01-11 17:20] akshay2000 commented on #27
Cool! But I'm afraid that there will be some client code somewhere in the app that will try to rented this null file. Have you checked for the possible scenarios? Does this work better than maintaining a blacklist?

[2015-01-11 17:29] christianprescott commented on #27
I have tested it with a couple of images from my library that are unavailable over HTTP. The file is created and there are no further complaints from BitmapImage - it displays just like it does when an image is unavailable for other reasons. I imagine it handles an invalid image file the same way it would a poorly formed URI, unauthorized location, or no source at all.

[2015-01-11 18:13] akshay2000 commented on #27
Okay, sounds alright. I'll merge in the morning, then.

In other news, I think we can do a bit of refactoring on the XAML and have the image 'refresh' in case it's not cached earlier. I won't go into the details right now, but in essence, we use [this](http://www.codeproject.com/Tips/546368/BitmapImageExtension-with-NetworkCredentials) kind of `BitmapImage` along with the `DecodePixelHeight` as an

[2015-01-11 23:31] christianprescott commented on #27
Hm, yes, you'll have to explain. Your link takes a similar strategy as the first attempt I made, but using a BitmapImage extension I think? If you're suggesting updating DecodePixelHeight when the download is complete, that might work. The tough part is getting a reference to the calling control into the ValueConverter, especially in a way that doens't update every bit of BitmapImage XAML.
https:/

[2015-01-12 09:50] akshay2000 commented on #27
You're right @christianprescott - this solution is indeed similar to the `ThumbnailImage` solution. However, advantage is that we don't need to reimplement everything `BitmapImage` is doing. Moreover, we get advantage of optimizations done in the `BitmapImage`.

In terms of refactoring, we bind `Image` to string in model. Note that Fanart is a string here.

[code]
Now, in `OurAwesomeConverter` we

[2015-01-15 17:06] akshay2000 commented on #27
Check out commit 0f1b915 on bitmap-credentials. On CoverPage, I've implemented the proposed solution. Caching is currently disabled for CoverPage images (commented out). Performance seems to be at par with native BitmapImage. How about making combination of the two solutions? We maintain a cache of frequently used images and load others (like cast) on the fly using this method and add them to cach

[2015-01-16 17:36] christianprescott commented on #27
Haven't gone silent, just a busy couple of days...
I'll try it out this weekend. I don't know about hybrid solution... if extension method works, it works, and I'm not upset about ditching cache for a single, simpler solution.

[2015-01-17 09:45] akshay2000 commented on #27
No problem! I'm still undecided with the direction. We need more testing. On one hand caching (advanced coupled with continuous) gives excellent performance. Image loading is fast. However, to enable this, we still need to check if file already exists in the cache. This process is resource intensive and results in lots of `FileNotFoundExceptions` and that doesn't sound good. But again, once these

[2015-01-20 17:01] akshay2000 commented on #27
Congratulations! Cache just made it to master. I think hybrid solution works very well for most scenarios. Like you said, I've implemented cache for everyone (people with authentication as well as without). I'll soon launch a beta with these features bundled. Let's see how it performs. If that goes well, we can finally close this issue.

[2015-01-22 02:26] zumchikara opened #34 "Preparing library when connecting to Kodi Assit"
I have my server set up correctly I believe. It seems to connect. It says "Preparing Library" and gets almost to the end of the bar but never goes any farther. I've rebooted my phone to make sure that wasn't the issue. I've let it sit for about 30 minutes with no change.

[2015-01-22 03:28] zumchikara commented on #34
I was able to uninstall and reinstall the app and it started working.

[2015-01-22 05:01] akshay2000 commented on #34
It is strange that you had the issue. More strange is the fact that reinstall solved it. We're keeping this issue open in case other beta testers face the similar issue. If it's common among users, we might need to take measures. Tagging @christianprescott just in case.

[2015-01-23 03:07] christianprescott commented on #34
Hm, 30 minutes is plenty long. So up to the point it got stuck, the bar was making (slow) progress right? @zumchikara do you have a password on your webserver or no?

I also would not have expected reinstall to change anything, but maybe another fix would be to clear temporary files through Storage Sense.

[2015-01-23 03:32] akshay2000 commented on #34
@christianprescott Actually, I enabled cache for everyone, password or not! Clearing temp files is something we can try. Although, many people have been complaining. I'm thinking of disabling cache and enabling authenticated bitmaps for all.

[2015-01-23 03:45] zumchikara commented on #34
@christianprescott It did make "slow" progress. It took maybe a minute and a half to get up to let's say 95% and then just stops there. I closed the app several times and let the progress restart. Rebooted my phone. I finally just uninstalled and the reinstalled and it went right through and has been working fine since. Yes I do have username and password set in kodi.

[2015-01-23 04:30] christianprescott commented on #34
Right, I remember, but I'm hoping there isn't a non-password flow that the cache could get hung up on. Sitting down now to review this and bitmap image.

[2015-01-23 05:20] akshay2000 commented on #34
@zumchikara Glad that it's working for you now. Everything is usually snappy and fast after the first load is done. However, you can try this one more thing. Let me warn you, this can be risky and might end up rendering the app in not working state. So, if you're up to it, you can try reproducing the issue by going to settings and refreshing the library.
@christianprescott I thought of the same th

[2015-01-23 17:13] brinox commented on #34
After downloading the app update, it took ~5 minutes to prepare the library, that's okay for, as I've got a quite large amount of songs.

But ***every time*** I open the app or switch to another server, the "preparing library" process takes about a minute again until I can start using the app again. To me, that is very annoying.

[2015-01-23 17:29] akshay2000 commented on #34
@brinox Thanks for reporting that Jan. I'll push an update with this fixed in next 24 hours. Please report back if issue goes away with next version.
@christianprescott I'm gonna push out a beta with cache disabled but AuthBitmap enabled throughout. Let's see if that performs.

[2015-01-23 17:33] christianprescott commented on #34
What's going on in the background is Kodi Assist is ensuring the images for thumbnails, fan art, etc are cached. For everyone, this is nice because it really speeds up scrolling through image-heavy lists, but the real reason is it prepares some images for servers with passwords where they otherwise wouldn't show up at all. It's looking more and more like the cost outweighs the benefit and we shoul

[2015-01-23 17:34] christianprescott commented on #34
@akshay2000 sounds good

[2015-01-23 17:52] zumchikara commented on #34
Akshay2000 I'm at work at the moment, but when I get home ill try out what you said.

[2015-01-24 01:07] zumchikara commented on #34
@akshay2000 I'm not seeing anything in the options to refresh. I did go into my tv shows and movies and there were refresh buttons there. Are those the ones you speak of? If so I did those and it said loading for maybe 10 seconds and then was finished.

[2015-01-24 04:29] akshay2000 commented on #34
@zumchikara No, not those. From the cover page (where you see now playing and all) open the app bar and open settings from there. There you'll find a huge button for refreshing library.

[2015-01-24 04:36] zumchikara commented on #34
I have screenshots from that page. I don't see a refresh button. Can I send these somewhere?

[2015-01-24 05:20] akshay2000 commented on #34
You can attach on GitHhub comments. Drag and drop. Or, upload to Imgur ([Grin](http://www.windowsphone.com/en-us/store/app/grin/1148ec57-6099-44c9-9389-59ce7abf35e8) is nice app to do that) and post a link here! Here's my screenshot: http://imgur.com/XCEkO5D

[2015-01-24 15:43] zumchikara commented on #34
![wp_ss_20150123_0002](https://cloud.githubusercontent.com/assets/4467003/5887882/dd867aaa-a3b5-11e4-8403-06b6a198ccf3.jpg)

[2015-01-24 15:44] zumchikara commented on #34
Even if I turn autoconnect off, I don't have the option you have.

[2015-01-24 15:52] akshay2000 commented on #34
That is quite strange. Are you sure you're on the beta? In any case, try to go to store and [update](http://www.windowsphone.com/s?appid=8b5df5e3-e092-4afc-ba2e-7cbf14aa503d) the app. I have removed the refresh cache altogether. But the option to refresh it is still there. Check out the latest beta and see if that fixes your issue.

[2015-01-24 16:09] christianprescott commented on #34
The refresh button appears only when authentication is in use. https://github.com/akshay2000/XBMCRemoteRT/blob/1545de82e50cb0a4c9b01e9427bcb2fbc9d05d8a/XBMCRemoteRT/XBMCRemoteRT.WindowsPhone/Pages/SettingsPivot.xaml.cs#L252-255

[2015-01-24 16:27] akshay2000 commented on #34
@christianprescott I implemented cache for everyone, avoiding any distinction between authenticated and non-authenticated users. And anyway, he's using the authentication.
Lastly, latest version shouldn't have any problem at all.

[2015-01-24 17:05] zumchikara commented on #34
http://i.imgur.com/i5EO0cb.jpg

Apparently I had his Kodi Assist. I know have one that's labeled beta.

As for that error, I got it after 3 minutes. I know kodi is working because I can control it with the remote side.

[2015-01-24 17:10] akshay2000 commented on #34
This error pops up sometimes for no reason. I'll take care of that in another issue. However, let's make sure that this issue is resolved first.
1. Do your images load as expected?
2. Has the annoying 'preparing library' step gone away?
3. App is usable?

[2015-01-24 17:46] zumchikara commented on #34
Yes the app seems to work fine. The refresh never completes, but images do load.

[2015-01-25 06:42] christianprescott commented on #27
Right, so, reaction to image cache has been not so great. I think AuthBitmapConverter is a good solution too. Not as fast as storage cache, but plenty quick, and obviously has the big upside of not needing preparation or maintenance.

christianprescott/XBMCRemoteRT@93185c762bafb321b0c9f82a8cba922bcb22997f
christianprescott/XBMCRemoteRT@419bd7f51a38aa5bed630d0e57ec812bfb1c2baa
christianprescott/XBM

[2015-01-25 09:54] akshay2000 commented on #27
Yup. Authenticated bitmaps are giving nice results. Great work with the cleanup! I guess it does make sense to return DefaultArt.jpg. If you're ready, go ahead an open up a pull request. Finally we can close the issue!

[2015-01-25 11:29] akshay2000 opened #35 "Implement Wake on LAN"
An empty stub has been added to `Helpers` namespace for WOL. The class needs to be completed with necessary code to achieve wake on LAN feature.
If required, it is possible to obtain and store MAC id of the server into `ConnectionItem`.

[2015-01-26 13:31] brinox commented on #35
I'm currently trying to implement this feature. Waking up PCs works fine, only problem is: I don't know where to find out the right broadcast IP address the magic package needs to be sent to.

Possible solutions are:
* Let the user enter a subnet mask (e. g. 255.255.255.0). If, for exmaple, Kodi's IP was 192.168.1.20, one would know the magic package has to be sent to 192.168.1.255. **Problem**: W

[2015-01-26 13:53] akshay2000 commented on #35
I'm very new to this and haven't been able to setup WOL on my Windows machine yet. So, walk me through. But here are our options right now:

* This seems reasonable. We could explicitly create a section of WOL while creating/editing connection where user will need to enter the IP as well as Subnet. (Is that all we need? Why is every program I used asks for Mac id?)
* This *is* confusing for most u

[2015-01-26 14:04] brinox commented on #35
I don't have any reading material for you at the moment but let me try to explain the basics:

You create a "magic" package which contains 6 bytes of 0xFF and then 16 repetitions of the 6 byte long MAC address. This package is sent via an UDP (Datagram) Socket to the broadcast address in the network so all hosts (even those who are not turned on) receive the package. The always-on network card rec

[2015-01-26 14:41] akshay2000 commented on #35
I knew about the magic packet part but had trouble understanding why would it be sent to broadcast address and why not specific IP address. Now it all makes sense. IP just isn't there for the host that is not alive. And we *do* need to extend the `ConnectionItem` to accommodate for MAC address. Might as well throw in the IP too.
Now for our problem, first solution still sounds good. Second is conf

[2015-01-26 15:02] brinox commented on #35
I will implement a prototype for the first solution, we'll see if it all works out.

You're quite right about the Wake-on-WAN thing, it is possible to wake your computer from outside your network, if everything is configured correctly. I doubt anyone will connect to their Kodi instance over the internet without VPN but anyway, this setup needs to be done:

I assume your network to be at ```192.168

[2015-01-26 15:30] akshay2000 commented on #35
I'm glad that I understood correctly. Now, let's take a step back. Waking up machines from outside the LAN is *not* the responsibility of Kodi Assist. There are other things (apps, websites, etc.) out there specialized for WOL scenarios. Adding this functionality to Kodi Assist is mere a matter of convenience of not having to use two different apps when you're on the couch and ready to watch a mov

[2015-01-26 17:03] brinox commented on #35
First implementation is now finished. Maybe you can create a branch "wake-on-lan" so I can make a pull request to that? Or will you just clone my repo locally to test it?

[2015-01-27 03:31] akshay2000 commented on #35
I think a branch will be easier to manage. I'll create one soon. Although, I'm not sure how to test it. I tried with different apps, but my machine won't just wake up from sleep. Not entirely sure what configuration I'm missing.

[2015-01-27 08:26] brinox commented on #35
It's very hard to debug, as it requires configuration in the BIOS / UEFI as well as in your OS. I'm using Wireshark on my network adapter on any PC in the network to see, if
* the broadcast is working,
* the magic package's content is correct
* the MAC address is the same as entered in the app.

Problem is: If it fails, no errors or exceptions are thrown in the app at all, so no feedback for the u

[2015-01-27 16:10] akshay2000 commented on #35
I've followed that guide a few times. And frankly, going all WireShark seems like overkill to get a setup that I might never use. A thing for another time, perhaps. Thanks for the info, though.
While we're at it, a branch has been created. Open a pull request against it. I'll test it for UX and just assume that the code works.

[2015-02-06 10:50] akshay2000 commented on #34
@zumchikara If you are not experiencing the issue in latest beta, can you close it?

[2015-02-06 14:01] zumchikara commented on #34
Can do. All seems to be functioning correctly.

[2015-02-06 14:01] #34 closed

[2015-02-06 17:24] akshay2000 commented on #35
@brinox Apparently, the mac addresses starting with 0 are being truncated.

[2015-02-07 08:17] #35 closed

[2015-02-13 16:20] #27 closed

[2015-04-01 17:16] brinox opened #40 "Pin TV shows to start screen"
Most of the time, I use Kodi and the remote to watch the next episode of a certain series. The process is as following:

1. Open the app
2. Swipe to TV shows
3. Tap *see all shows*
4. Wait for all shows to load, select TV show
5. Swipe to episodes
6. Select episode and play

That takes some time, especially point 4, as my library has grown quite a bit. So how about enabling the user to pin a certa

[2015-04-06 17:13] akshay2000 commented on #40
So this show specific tile is specific only to show or is it specific to the server too?

In other word, what happens in following scenario:
1. User has two servers: A and B.
2. User connects to server A.
3. User pins show X to start screen.
4. User connects to server B. Now, the last successfully connected server is B.
5. OS terminates the app while user is busy watching some cat videos on MetroT

[2015-04-06 17:55] brinox commented on #40
I don't know the users' habits, personally, I have 3 profiles in saved in my app.
1. livingroom
2. bedroom
3. friend's home

The first two Kodi instances have their library synced, because they rely on the same MySQL database. If this is the case, the second suggestion of your's would be best, as the ID for the TV show is the same on both instances. Moreover, the speech control feature works by th

[2015-04-06 22:35] gabrielsadaka commented on #40
You wouldn't be using the ID to find the show to play because as you said that can change depending on the server, the best way would be to search by the show title because that should be unique and if it isn't it could revert to the search screen showing you all of the matching results.

I agree with Akshay, it should try to automatically connect to the last connected server but if that fails it

[2015-04-07 07:59] brinox commented on #40
I totally agree with @gabrielsadaka, that behavior would be awesome.

[2015-04-07 08:48] akshay2000 commented on #40
@brinox Good thing, it's already implemented that way. It's just taking a lot of time because of tight schedule.

[2015-04-10 13:53] brinox commented on #40
Nice, I'll close this issue as soon as the feature hits beta and I can test it ;)

[2015-04-10 13:57] akshay2000 commented on #40
No problem. Issue will close itself as soon as the commits get merged into master. I'll release the beta based on dev. If no problem is seen, I'll merge into master.

[2015-04-12 04:45] akshay2000 commented on #40
@brinox Can you report back? Is this feature ready for release?

[2015-04-12 06:30] akshay2000 opened #41 "Implement data virtualization for larger lists"
Large lists (like Movies and TV Shows) may give out of memory exception while loading. Data virtualization should help mitigate this problem. Random Access Virtualization seems like a viable solution.

[2015-04-12 07:11] gabrielsadaka commented on #41
Sounds good, looking at https://msdn.microsoft.com/en-us/library/windows/apps/xaml/hh780657.aspx if we implement ISupportIncrementalLoading (https://msdn.microsoft.com/en-us/library/windows/apps/xaml/windows.ui.xaml.data.isupportincrementalloading.aspx) for all of the Lists that need virtualization all we need to do is keep track of the current starting index of the data loaded and when LoadMoreIt

[2015-04-12 07:22] akshay2000 commented on #41
Problem with incremental loading is that it's not transparent. User *knows* data is being loaded. Scrollbar jumps around to accommodate newly added items. That's why I am looking into random access virtualization. I'll see what fits the best.

[2015-04-12 07:45] gabrielsadaka commented on #41
Have you found any existing implementations of IObservableVector worth using? All of the implementations I have found seem to be incomplete.

[2015-04-12 07:46] akshay2000 commented on #41
@gabrielsadaka Well, you feel my pain! I'll keep looking for a while. In the end, if nothing else, incremental load it shall be.

[2015-04-12 08:02] gabrielsadaka commented on #41
It's really surprising Microsoft hasn't built their own implementation of it.

[2015-04-12 08:52] akshay2000 commented on #41
Okay, here's the plan. Let's implement incremental load with sufficiently large base count. That way, smaller libraries remain largely unaffected. Only bigger libraries get incremental load. But then again, library with more than 300 items is barely usable. The user is likely to end up using search. So, they don't have to see the incremental load either.

[2015-04-12 10:04] gabrielsadaka commented on #41
That's a good point I can't imagine many people wanting to scroll through their whole library anyway so incremental load should be fine. Maybe set the base count to 100. Does Kodi work well with Movie genres? Maybe implementing a view with Genres as pivots or a drop down list so they can limit how many movies are shown in the list would be useful as well.

[2015-04-12 10:15] akshay2000 commented on #41
Kodi does work with generes. But I recently asked a few users to lend me their libraries. No matter how you slice that set of movies, you're gonna end up with a mess. I think current views + incremental load + robust search should get us started.

[2015-04-12 11:46] gabrielsadaka commented on #41
Agreed, how's the incremental loading coming along?

[2015-04-12 15:42] brinox commented on #40
Everything seems fine, works like a charm :+1:

[2015-04-12 15:42] #40 closed

[2015-04-12 16:00] akshay2000 commented on #41
[Pretty good](https://github.com/akshay2000/XBMCRemoteRT/tree/data-virtualization). I am also migrating search to Kodi server APIs instead of performing it locally. Meanwhile, we need to spark a discussion on #14.

[2015-04-13 13:17] gabrielsadaka commented on #14
Any issues with using a local database? That would handle all of the concurrent access issues

[2015-04-13 13:25] akshay2000 commented on #14
Database seems like a nice solution. Question is, which one! Last time I checked SQLite came with it's own set of issues. You required hacky wrappers. You had to compile separately for different architectures. I also remember it breaking the designer view for Windows 8. Does someone have more recent news?

[2015-04-14 01:00] gabrielsadaka commented on #14
I think with the designer you have to create explicit dummy data and define that in the XAM. As for the separate compilation I don't remember having to do any of that. This page doesn't seems rather straight forward https://msdn.microsoft.com/en-us/library/windows/apps/hh202876(v=vs.105).aspx.

[2015-04-15 04:09] akshay2000 commented on #14
That's not a right place to look into. Dummy data doesn't come into picture here. The designer view plainly just won't load for certain configurations. The 'Local Databases' (linked by you) did not have any of these problems. It's just that Microsoft removed the support in WinRT. In initial days, there was [no support](http://stackoverflow.com/questions/13660227/correct-way-to-use-databases-in-win

[2015-04-15 16:15] #41 closed

[2015-04-26 12:46] Rudders1973 opened #42 "WOL doesn't accept 0 as first character in mac id"
Under wake on Lan it won't let me add 00 for the first numbers. It keeps deleting the first 0 so won't WOL. If I added a 2 for example then it keeps 20 just not 00.

[2015-04-26 13:05] akshay2000 opened #43 "Music pivot crashes while loading large music library"
When loading music library it crashes and bombs out every time.

[2015-04-26 13:06] akshay2000 commented on #42
@Rudders1973 Music crash has been moved to #43. Please track it there.

[2015-04-26 13:07] akshay2000 commented on #43
@Rudders1973 We are going to need more details here.

1.How big is your audio library?
2. When did you start experiencing the crash? Did the app work before?
3. Can you try cleaning up the music library and check whether the crash persists?

[2015-04-26 18:24] Rudders1973 commented on #43
Music collection is just under 40,000 mp3's.
This crash happened from day one but ok in a different remote app I tested with.
I have tried cleaning and re-scanning the library but still get the app closing.

[2015-04-27 16:10] brinox commented on #42
I think I know the where this originates from, I'm going to fix it soon.

[2015-04-27 16:11] Rudders1973 commented on #42
Great stuff. Thanks

[2015-04-27 16:16] akshay2000 commented on #42
@brinox Thanks. I'm not sure if GitHub allows you to do that, but if it does, please assign it to yourself so that someone else doesn't pick this up.
@Rudders1973 Just so you know, @brinox is the reason we even have this feature.

[2015-04-27 16:19] brinox commented on #42
@akshay2000 I am not able/allowed to assign myself to this issue, I think only you can do that as you're the owner of the repo

[2015-04-27 16:20] akshay2000 commented on #43
Would it be possible for you to send me your music db. It just contains the metadata about your music - not the music itself. [Here](http://kodi.wiki/view/Userdata) are the instructions on where to find the databases. I think MyMusic#.db would suffice for testing.

[2015-04-27 16:22] akshay2000 commented on #42
@brinox Never mind then! I can't do that either. I think it's only for the people who have been added as contributors and have direct access to repo. Anyway, open a pull request as usual when you're ready.

[2015-04-27 18:03] Rudders1973 commented on #43
I have emailed the file to you.

[2015-04-27 18:05] Rudders1973 commented on #42
Email failed, what address can I send it too.

[2015-04-28 02:37] akshay2000 commented on #43
@Rudders1973 I have dropped you the email. You may reply to it. If that fails, upload file somewhere (Dropbox, OneDrive, etc.) and send me the link in email.

[2015-04-29 17:09] Rudders1973 commented on #43
Just to let you know I removed the music library from Kodi and deleted all the mymusic db files.i then rebooted and recreated the music library on Kodi. The app still closes while reading the whole library. Have you managed to test yet? Thanks.

[2015-04-29 17:35] akshay2000 commented on #43
Don't worry! I'm on it. The fix is [ready](https://github.com/akshay2000/XBMCRemoteRT/commit/895e756423bf04101e6294a9486a057228b8fa81) and it's in the code! It will be delivered in the app soon. Moreover, awesome stuff is coming. Hang on tight.

[2015-04-29 17:36] Rudders1973 commented on #43
Ooooo, nice. Sounds good. Link forward to it. Thanks.

[2015-05-03 09:14] Rudders1973 commented on #42
Any news on the mac address fix where it won't allow 2 00's first? Thanks.

[2015-05-03 13:30] brinox commented on #42
Here you go :)

[2015-05-03 13:37] Rudders1973 commented on #42
Where is the fix?

[2015-05-03 13:38] akshay2000 commented on #42
The fix has just been merged with pull request #44. Thanks @brinox, I will update the app soon.

[2015-05-03 13:39] Rudders1973 commented on #42
Lovely. Much appreciated.

[2015-05-05 13:47] akshay2000 opened #46 "Migrate Windows project to new Filter and Sort based APIs"
RPCWrapper APIs no more take Filter and Sort in form of JObjects. Instead, concrete types have been introduced. Windows Phone project has already been refactored to use these new APIs. However, the Windows side remains unaltered. Naturally, the Windows Project doesn't compile.
This issue is to track progress on fixing those errors and refactor the calls to new APIs. An example can be seen at commi

[2015-05-05 13:57] #43 closed

[2015-05-05 14:17] akshay2000 opened #47 "Implement Files RPCWrapper"
An empty stub has been added [here](https://github.com/akshay2000/XBMCRemoteRT/blob/master/XBMCRemoteRT/XBMCRemoteRT.Shared/RPCWrappers/Files.cs) for the class. Details about the API provided by Kodi can be found [here](kodi.wiki/view/JSON-RPC_API/v6#Files).
All the methods are to be styled exactly like the methods in other RPCWrapper classes (viz. AudioLibrary and VideoLibrary).

[2015-05-05 14:41] gabrielsadaka commented on #46
Are you planning on migrating the app to the new Windows Universal adaptive model?

[2015-05-06 06:26] akshay2000 commented on #46
@gabrielsadaka Do not start working on this just yet. I have a feeling someone else is going to take this up. With that said, let's discuss Windows 10.
Of course, we are going to migrate to UAP soon. I am waiting for the Windows 10 Insider Preview to go stable enough to be used for development. Right now, it's just slow and rough.
Then there's design. They don't seem to have made there mind about

[2015-05-08 00:12] gabrielsadaka commented on #46
Okay fair enough, I might start building a mini project with the new adaptive layouts to get a feel for them. I already designed the Windows 8 app to scale to various resolutions so it hopefully shouldn't take much work to move it over to the new layout.

[2015-05-10 15:52] akshay2000 commented on #42
@Rudders1973 The fix has been published in Store. This is included in public version, not the beta. Check it out and close the issue if it's fixed.

[2015-05-10 20:59] Rudders1973 commented on #42
Thank you. Music library loading fixed and WOL now fixed

[2015-05-10 20:59] #42 closed

[2015-05-11 11:38] akshay2000 commented on #14
On second thought, current file based implementation is good enough (ignoring occasional crash or two). If Windows 10 end up offering a robust first party database-like storage support, we will migrate to that API.

[2015-05-11 11:47] gabrielsadaka commented on #14
When do you concurrently access the connections anyway?

[2015-05-11 12:17] akshay2000 commented on #14
@gabrielsadaka In a (very rare) scenario, a user may save a newly edited/created connection and try to navigate quickly to all connections. Here one thread is finishing the write of connection while another comes up and tries to read it. This causes trouble. But as long as this repo is concerned, I'm closing this issue. Expect to have a Windows 10 repo soon.

[2015-05-11 12:17] #14 closed

[2015-05-16 06:35] gabrielsadaka commented on #47
I've started working on the files JSON API and also began working on creating windows phone pages to browse the files and eventually play the files. Are there any other features that you had in mind?

https://github.com/gabrielsadaka/XBMCRemoteRT/commit/1c5c14b90d742eb87ba224b797d9bf21173219c6

[2015-05-16 07:08] akshay2000 commented on #47
That's great. Let's implement the browsing first. make sure the APIs adhere to the style of other APIs. Let's see how this goes.

[2015-05-16 08:16] gabrielsadaka commented on #47
Okay well I have the file browser page there now, only thing left is to implement back button navigation for going back to the previous folder and playing the file when clicked on it.

[2015-05-27 08:51] akshay2000 commented on #47
Bug:

1.Browse to anything. (Music > Some Folder > Some Child Folder)
2. Go back to sources.
3. Browse to some other source. (TV Shows > Some Folder)
4. You're presented with the old folders. (Music in this case)

[2015-05-27 08:54] #46 closed

[2015-06-04 09:33] Sranshaft opened #50 "Background of appbar flyout menu opacity"
The background's opacity is set too low causing the text of the menu to become illegible.

[2015-06-04 09:39] Sranshaft opened #51 "Multiple copies of the same TV show in list"
As the issue title says, I'm getting multiple copies of the same tv show item in the list.

[2015-06-04 09:56] akshay2000 commented on #51
1. Please check if your server shows the same. Highly likely, the server has duplicates too.
2. Please give a screenshot.

[2015-06-04 09:57] akshay2000 commented on #50
Which appbar are we talking about here? Can you provide a screenshot?

[2015-06-04 11:19] Sranshaft commented on #51
There are no duplicates on my Kodi installs. Only in the app. Will get a screenshot for you when I'm able.

[2015-06-05 04:01] Sranshaft commented on #51
Here are a couple screenshots showing the repeating titles.

http://1drv.ms/1Qvj54G

As you can see, it's populating the list and then jumps back and started populating the list again with duplicate titles before resuming normally. It does this throughout the entire list every 10-15 items.

[2015-06-05 04:03] Sranshaft commented on #50
Here are those screenshots.

http://1drv.ms/1cB7eVd

[2015-06-05 04:15] Sranshaft commented on #50
Here's a better example.

http://1drv.ms/1H6NFAM

As you can see, with the fanart displayed on the home pivot the menu's text become nearly illegible.

[2015-06-05 05:07] akshay2000 commented on #51
Interesting. Details:

1. Roughly, how many TV shows do you have in there?
2. Does the same or similar issue occur with movies?
3. Can you try cleaning the video library and check if the problem goes away?
4. If possible, try rebuilding the library from scratch? (I know, this is nuclear!)
5. Send a copy of video database so that I can try debugging the exact issue.

[2015-06-05 05:14] akshay2000 commented on #50
I can increase the opacity, I suppose!

[2015-06-05 07:09] Sranshaft commented on #51
1. A little over 300 tv shows.
2. Works fine for movies and music.
3. Same issue after cleaning.
4. Sorry but I'm not rebuilding the library from scratch...the database works fine in all other Kodi apps.
5. I can get you a couple of the database but as I said it works fine in other apps.

I had a look at your code and your call to grab the TV show list is different to your call to grab the movies

[2015-06-05 08:20] akshay2000 commented on #51
The calling mechanisms for movies and TV shows are only syntactically different at face value. They mean the same.
Most likely, other apps obtain the lists in a different way that this. So, it would be great if you send out your videos database for testing. Also, it helps if you upgrade to latest Kodi version (stable) available before sending the database.

[2015-06-07 10:00] #47 closed

[2015-06-07 10:00] #50 closed

[2015-06-21 03:44] akshay2000 commented on #51
Cannot reproduce without sample database.

[2015-06-21 03:44] #51 closed

[2015-07-27 15:20] jlnprssnr opened #54 ""Info" button missing from remote"
Kodi allows you to get information about a movie when pressing "i" on your keyboard (http://kodi.wiki/view/Keyboard_controls#Default_keyboard_controls), this should be available here. Media Center Remote (https://www.microsoft.com/en-us/store/apps/media-center-remote/9wzdncrdqz3d) has this, too.

[2015-07-28 12:23] zbabac opened #56 "suspend, shutdown, reboot not implemented"
Advanced menu has Shutdown option that is not working (Resource.resw is missing shutdown string).
I suggest to fix Shutdown and also add Suspend and Reboot Kodi server option in Advanced menu on Remote in a way that:
- shutdown invokes Kodi server power-off;
- suspend invokes Kodi server sleep (or suspend, depending on OS);
- reboot invokes Kodi server reboot
I propose that I prepare new commit in

[2015-07-28 13:50] akshay2000 commented on #56
This sounds great. I'm not entirely sure about the reboot feature yet. I am aware that Kodi does support this feature but it really seems out of scope for the app. As it stands, there are already many things in the menu. I'd rather not clutter it up.
Moreover, no one has requested that feature. So, It's safe to exclude it for now. Go ahead with shut down and suspend.

[2015-07-28 13:51] akshay2000 commented on #54
@jlnprssnr You may go to settings and enable that button. The icon looks like a page. Please close this issue if this resolves the problem.

[2015-07-29 15:28] #56 closed

[2015-08-19 10:37] zbabac opened #59 "App crashes when pressing Play/Pause button in certain scenarios"
I noticed this issue when playing streaming content, like youtube or other streaming media. Unhandled exception occurs only if artist data, etc. is missing.
It happens both at "Now Playing" pivot page and at Remote (InputPage).

It occurs in:
private static async Task RefreshPlayerItem(Players player) because result item has null value. It is easily detectable when inserting try/catch.
It can be q

[2015-08-20 06:25] akshay2000 commented on #59
While I'm not sure if this is the best way to go about it, I'd suggest you to go ahead and fix it. Create a pull request when you're ready.

[2015-11-06 05:22] rdgarfinkel opened #60 "app crash on open"
Currently, when I try opening Kodi Assist, it crashes. There's no error that shows up, just sends me back to the start screen. This takes place whenever my phone is connected to the wireless network at home. If I turn wireless off, there is no crash. Ideas?

[2015-11-30 16:33] akshay2000 commented on #54
Closing the issue.

[2015-11-30 16:33] #54 closed

[2015-11-30 16:34] #59 closed

[2015-11-30 16:35] akshay2000 commented on #60
This is probably due to your server playing tricks. Try disabling the auto-connect and see how it behaves.

[2015-12-01 04:52] rdgarfinkel commented on #60
Auto connect in the app or is this in kodi settings? I didn't see an option in app settings, anyway.

[2015-12-01 09:29] akshay2000 commented on #60
You'll find it in settings > miscellaneous in the app.

[2015-12-01 19:44] rdgarfinkel commented on #60
![wp_ss_20151201_0002](https://cloud.githubusercontent.com/assets/7954223/11511947/cb82a328-9839-11e5-8ff8-53bee18eae6a.png)
I don't see options for settings anywhere, am I looking in the right area? Or does settings only show up when it's connected to a server?

[2015-12-02 05:06] akshay2000 commented on #60
You're right. Settings only show up after you're connected. Can you try connecting to a different server. That should do it.

[2015-12-02 09:46] rdgarfinkel commented on #60
Ok, yep, somethings screwy with the other server, it worked fine with another server. I'll try nuking the Kodi configs to see if that makes it work again. Thanks! :)

[2015-12-03 10:36] akshay2000 commented on #60
Let's close this issue then!

[2015-12-03 10:36] #60 closed

[2017-01-18 08:00] made1990 opened #63 "Using Cortana"
Hi I saw a video on youtube some of you guys using Cortana to control Kodi which seems to be a great feature:
https://www.youtube.com/watch?v=XYLTCVKFxcI

I tried it using Cortana on Windows Mobile 10 but I did not get it to work. How do I tell cortana to use your app when  I say "Kodi"  ?
Does it matter what language I use for the app and for my phone (cortana) ?

Also what voice commands are the

[2017-01-18 14:42] akshay2000 commented on #63
You may browse the available commands here: https://github.com/akshay2000/XBMCRemoteRT/blob/master/XBMCRemoteRT/XBMCRemoteRT.WindowsPhone/VCD.xml

Cortana doesn't work as expected on Windows 10 Mobile because the app was made for Windows Phone 8.1. Cortana works differently in Windows 10 Mobile. I have no plan to upgrade the project to Windows 10 since I have moved on to a [different project](http

[2017-03-01 16:46] hansgoed opened #64 "New connection doesn't show up immediately"
I Just freshly installed the app and tried to create a new connection. When I clicked save I got directed to the connections overview which was empty. I restarted the app twice and then it appeared.

[2017-03-01 16:53] #63 closed

[2017-03-01 16:55] akshay2000 commented on #64
This is a known issue and has to do with the fact that file needs time to write. While this can be solved with bit of a rework, I don't have the setup ready. So it's up to you (or someone else) to fix it.

[2017-03-01 17:01] hansgoed commented on #64
A quick fix would be waiting for the data to be saved before redirecting the user and showing a spinner. Would that be good enough? I haven't looked at the code yet, but if that's enough I could look into it tonight

[2017-03-01 17:12] akshay2000 commented on #64
It should be that way. But I'm not sure if I maintained a single place where the loading happens. So, take a look.

[2017-03-01 19:28] hansgoed commented on #64
No need for a spinner

https://github.com/akshay2000/XBMCRemoteRT/pull/65/commits/e08b1d9cdc9554b06751d7634b4d8edbda966b83

[2017-03-01 20:59] hansgoed commented on #64
@https://github.com/akshay2000/XBMCRemoteRT/pull/65